{% extends "common/base.html" %}
{% load static %}
{% block page-content %}
    <div class="uk-container h-full flex flex-col place-items-center">
        <h1 class="uk-h1">Northridge Devs</h1>
        <p class="uk-text-lead uk-margin-bottom">
            home of <a href="https://northridgeprep.org">Northridge Prep</a> computer science
        </p>
        <figure>
            <img src="{% static 'images/coding-knight.png' %}"
                 alt="Knight coding"
                 width="900px" />
            <figcaption>Knight in armor, coding. AI generated image.</figcaption>
        </figure>
        <div class="flex place-content-around uk-margin-top-small w-full">
            <div class="uk-padding-large">
                <h4 class="uk-h4">Artificial Intelligence</h4>
                <ul>
                    <li>
                        <a href="https://github.com/northridge-dev/ai-intro/blob/main/syllabus.md"
                           target="_blank">Syllabus</a>
                    </li>
                    <li>
                        <a href="https://github.com/northridge-dev/ai-intro/tree/main/log"
                           target="_blank">Log</a>
                    </li>
                    <li>
                        <a href="https://github.com/northridge-dev/ai-intro/tree/main/resources.md"
                           target="_blank">Notebooks & Other Resources</a>
                    </li>
                </ul>
            </div>
            <div class="uk-padding-large">
                <h4 class="uk-h4">Web Dev</h4>
                <ul>
                    <li>
                        <a href="https://github.com/northridge-dev/webdev-intro/blob/main/syllabus.md"
                           target="_blank">Syllabus</a>
                    </li>
                    <li>
                        <a href="https://github.com/northridge-dev/webdev-intro/tree/main/log"
                           target="_blank">Log</a>
                    </li>
                </ul>
            </div>
            <div class="uk-padding-large">
                <h4 class="uk-h4">Python Game Dev</h4>
                <ul>
                    <li>
                        <a href="https://github.com/northridge-dev/python-game-dev/blob/main/syllabus/hs/latest.md"
                           target="_blank">Syllabus</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock page-content %}
