{% load is_debug %}
{% load static %}
<html>
    <head>
        {% if is_debug %}
            <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        {% else %}
            <link rel="stylesheet" href="../static/css/styles.css?{% now 'U' %}" />
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit-icons.min.js"></script>
    </head>
    <body>
        {% include 'common/navbar.html' %}
        {% block page-content %}
        {% endblock page-content %}
    </body>
</html>
