{% load static %}
<nav class="h-24 w-full uk-navbar-container uk-navbar flex justify-between uk-padding-small">
  <div class="flex place-items-center">
    <img src="{% static 'images/icon.png' %}" style="height: 75px" />
    <h1 class="uk-h1">codilla</h1>
  </div>
  <div class="flex justify-between place-items-center">
    {% if request.user.is_authenticated %}
      <p>{{ request.user.username }}</p>
      <form action="{% url 'logout' %}"
            method="post"
            class="flex place-items-center uk-padding uk-margin-remove-bottom">
        {% csrf_token %}
        <button type="submit" class="uk-button uk-button-default uk-button-small">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}?next={{ request.path }}"
         class="uk-button uk-button-primary uk-button-small">Log In</a>
    {% endif %}
  </nav>
