{% extends "common/base.html" %}
{% block page-content %}
  <div id="challenge-container h-full w-full">
    <div class="grid grid-cols-5 grid-rows-5 gap-4 h-full w-full">
      <div class="col-span-3 row-span-4 h-full">
        {% block editor %}{% endblock %}
      </div>
      <div class="col-span-3 row-span-1 col-start-1 row-start-5 h-full">
        {% block output %}{% endblock %}
      </div>
      <div class="col-span-2 row-span-5 col-start-4 row-start-1 h-full">
        {% block instructions %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock page-content %}
