{% extends "common/base.html" %}
{% block page-content %}
    <div id="challenge-container"
         class="h-screen uk-margin uk-margin-left uk-margin-right">
        <div class="grid grid-cols-5 grid-rows-9 gap-4">
            <div class="col-span-3 row-span-5">
                {% block editor %}{% endblock %}
            </div>
            <div class="col-span-3 row-span-2 col-start-1 row-start-6">
                {% block test-center %}{% endblock %}
            </div>
            <div class="col-span-3 row-span-2 col-start-1 row-start-8">
                {% block output %}{% endblock %}
            </div>
            <div class="col-span-2 row-span-9 col-start-4 row-start-1">
                {% block instructions %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock page-content %}
