{% extends "code_challenge/base.html" %}
{% load static %}
{% block editor %}
  {{ challenge|json_script:"meta-json" }}
  <script src="{% static 'js/editor.js' %}" defer></script>
  <div id="csrf-token" data-csrf-token="{{ csrf_token }}"></div>
  <div class="relative h-full w-full">
    <div id="code-editor" class="absolute h-full w-full"></div>
    <div class="absolute inset-x-0 bottom-0 flex flex-row justify-end w-full">
      <button id="run-code-button" class="uk-button uk-button-primary m-1">Run</button>
      <button id="test-code-button"
              class="uk-button uk-button-primary m-1"
              {% if not user.is_authenticated %}disabled{% endif %}>
        {% if challenge.tests %}
          Test
        {% else %}
          Complete
        {% endif %}
      </button>
      <button id="save-code-button"
              class="uk-button uk-button-default m-1"
              {% if not user.is_authenticated %}disabled{% endif %}>Save</button>
      <button id="reset-code-button" class="uk-button uk-button-default m-1">Reset</button>
    </div>
  </div>
{% endblock editor %}
<!-- Output -->
{% block output %}
  <div id="output" class="h-full w-full"></div>
{% endblock output %}
<!-- Instructions -->
{% block instructions %}
  <div class="w-full">
    <div class="uk-card uk-card-body uk-height-1-1 custom-scrollbar overflow-y-auto">
      <article class="prose uk-margin">{{ challenge.instructions |safe }}</article>
    </div>
  </div>
{% endblock instructions %}
