{% extends "code_challenge/base.html" %}
{% load static %}
{% block editor %}
    {{ challenge.starter_code|json_script:"starterCode" }}
    <script src="{% static 'js/editor.js' %}" defer></script>
    <div id="code-editor" class="h-[calc(100%-1.25rem)] w-full"></div>
    <div class="flex flex-row justify-end h-5 w-full uk-background-default">
        <button id="run-code-button" class="uk-button uk-button-primary m-1">Run Code</button>
        <button class="uk-button uk-button-default m-1">Reset Code</button>
    </div>
{% endblock editor %}
<!-- Test Center -->
{% block test-center %}
    <div id="test-center" class="h-full w-full">assert()</div>
{% endblock test-center %}
<!-- Output -->
{% block output %}
    <div id="output" class="h-full w-full"></div>
{% endblock output %}
<!-- Instructions -->
{% block instructions %}
    <div class="w-full">
        <div class="uk-card uk-card-body uk-height-1-1">
            <h1 class="uk-card-title uk-h1">Challenge: {{ challenge.title }}</h1>
            <p class="uk-margin">{{ challenge.instructions |safe }}</p>
        </div>
    </div>
{% endblock instructions %}
